.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vh 4vw;
  background: #1C3B55;
}

.text {
  font-size: 1.25vw;
  text-align: center;
  color: #FFFFFF;
}
