<app-header></app-header>

<nav class="nav">
  <span><a name='main-page' routerLink='/main' class="nav-main-page">Main page</a></span>
  <span class="nav-arrow"> > </span>
  <span><a class="nav-stats">User statistics</a></span>
</nav>

<div class="heading">User statistics</div>

<div class="table-wrapper">
  <table mat-table [dataSource]="this.statsData?.users" class="mat-elevation-z8 table">
    <ng-container matColumnDef="id" class="mat-column-id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let user" class="mat-cell"> {{user.id}} </td>
    </ng-container>

    <ng-container matColumnDef="first_name" class="mat-column-first_name">
      <th mat-header-cell *matHeaderCellDef> First name </th>
      <td mat-cell *matCellDef="let user" class="mat-cell"> {{user.first_name}} </td>
    </ng-container>

    <ng-container matColumnDef="last_name" class="mat-column-last_name">
      <th mat-header-cell *matHeaderCellDef> Last name </th>
      <td mat-cell *matCellDef="let user" class="mat-cell"> {{user.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="email" class="mat-column-email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user" class="mat-cell"> {{user.email}} </td>
    </ng-container>

    <ng-container matColumnDef="gender" class="mat-column-gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let user" class="mat-cell"> {{user.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="ip_address" class="mat-column-ip_address">
      <th mat-header-cell *matHeaderCellDef> IP address </th>
      <td mat-cell *matCellDef="let user" class="mat-cell"> {{user.ip_address}} </td>
    </ng-container>

    <ng-container matColumnDef="total_clicks" class="mat-column-total_clicks">
      <th mat-header-cell *matHeaderCellDef> Total clicks </th>
      <td mat-cell *matCellDef="let user" class="mat-cell"> {{user.total_clicks}} </td>
    </ng-container>

    <ng-container matColumnDef="total_page_views" class="mat-column-total_page_views">
      <th mat-header-cell *matHeaderCellDef> Total page views </th>
      <td mat-cell *matCellDef="let user" class="mat-cell"> {{user.total_page_views}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)='onTableRowClick(row)' class="mat-row"></tr>
  </table>
</div>

<mat-paginator
  [length]='paginatorLength'
  [pageIndex]='initialNumOfPages'
  [pageSize]='initialResPerPage'
  [pageSizeOptions]='pageSizeOptions'>
</mat-paginator>

<app-footer></app-footer>
