<app-header></app-header>

<div>{{ userFullName$ | async }}</div>

<div> <span>Clicks</span>
  <canvas baseChart
    [datasets]="dataService.chartsConfig.lineChartClicks"
    [labels]="dataService.chartsConfig.lineChartLabels"
    [options]="dataService.chartsConfig.lineChartOptions"
    [colors]="dataService.chartsConfig.lineChartColors"
    [legend]="dataService.chartsConfig.lineChartLegend"
    [chartType]="dataService.chartsConfig.lineChartType"
    [plugins]="dataService.chartsConfig.lineChartPlugins">
  </canvas>
</div>

<div> <span>Views</span>
  <canvas baseChart
    [datasets]="dataService.chartsConfig.lineChartPageViews"
    [labels]="dataService.chartsConfig.lineChartLabels"
    [options]="dataService.chartsConfig.lineChartOptions"
    [colors]="dataService.chartsConfig.lineChartColors"
    [legend]="dataService.chartsConfig.lineChartLegend"
    [chartType]="dataService.chartsConfig.lineChartType"
    [plugins]="dataService.chartsConfig.lineChartPlugins">
  </canvas>
</div>

<app-footer></app-footer>
