<app-header></app-header>

<nav>
  <span><a name='main-page' routerLink='/main'>Main page</a></span>
  <span> > </span>
  <span><a name='users-page' routerLink='/users'>User statistics</a></span>
  <span> > </span>
  <span><a> {{ userFullName$ | async }} </a></span>
</nav>

<h2> {{ userFullName$ | async }} </h2>

<div>
  <h3>Clicks</h3>
  <canvas baseChart
    [datasets]="dataService.chartsConfig.lineChartClicks"
    [labels]="dataService.chartsConfig.lineChartLabels"
    [options]="dataService.chartsConfig.lineChartOptions"
    [colors]="dataService.chartsConfig.lineChartColors"
    [legend]="dataService.chartsConfig.lineChartLegend"
    [chartType]="dataService.chartsConfig.lineChartType"
    [plugins]="dataService.chartsConfig.lineChartPlugins">
  </canvas>
</div>

<div>
  <h3>Views</h3>
  <canvas baseChart
    [datasets]="dataService.chartsConfig.lineChartPageViews"
    [labels]="dataService.chartsConfig.lineChartLabels"
    [options]="dataService.chartsConfig.lineChartOptions"
    [colors]="dataService.chartsConfig.lineChartColors"
    [legend]="dataService.chartsConfig.lineChartLegend"
    [chartType]="dataService.chartsConfig.lineChartType"
    [plugins]="dataService.chartsConfig.lineChartPlugins">
  </canvas>
</div>

<app-footer></app-footer>
